services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: engieerassistant
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
